In [4]:
import requests
from bs4 import BeautifulSoup

In [5]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [15]:
def extract(page):
    
    
    headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.85 Safari/537.36 '}
    url = f'https://www.indeed.com/jobs?q=Petroleum+Engineering&l=United+States&start={page}'
    r = requests.get(url, headers)
    soup = BeautifulSoup(r.content, 'html.parser')
#     print(soup)
    return soup

def trasform(soup):
#     divs = soup.find_all('div', class_ = 'jobs-search-results__list list-style-none')
    divs = soup.find_all('div', {'class':'jobsearch-SerpJobCard'})
    for item in divs:
        title = item.find('a').text.strip()
        company = item.find('span', class_ = 'company').text.strip()
        
        try:
            salary = item.find('span', class_ = 'salaryText').text.strip()
            summary = item.find('div', {'class':'summary'}).text.strip()
            
        except:
            salary = ""
            summary = ""
            
        job ={'title':title,
             'company':company,
             'salary':salary,
             'summary':summary}
        
#         print(salary)


        joblist.append(job)

In [20]:
joblist = []


for i in tqdm(range(0,100)):
    c = extract(i)
    # # print(c)
    trasform(c)



Jobs = pd.DataFrame(joblist)
Jobs.head()

100%|███████████████████████████████████████████████████████████████████| 100/100 [01:18<00:00,  1.27it/s]

,title,company,salary,summary
0,Vice President of Operations,Millennium PetroCapital Corporation,"From $90,000 a year",The Vice President of Operations (VPO) is resp...
1,PETROLEUM SCIENTIST 1-3,State of Louisiana,"$3,999 - $7,006 a month",A bachelor's degree with 24 hours in petroleum...
2,Senior Petroleum Engineer,Killam,,
3,Permian Basin Production Engineering Manager,Percussion Petroleum,"Up to $250,000 a year",8 – 15 years minimum experience in production ...
4,Engineering Summer Intern,Vernon E. Faulconer,,

In [21]:
Jobs.shape

(1160, 4)

In [23]:
Jobs.to_csv('petroleum-jobs-usa.csv')